.landing-view {
    text-align: center;

    .lama-img {
        opacity: .7;
    }

    .button-container {
        margin-top: 1rem;

        button {
            border: #ccc 1px solid;
            padding: .4rem .5rem;
            border-radius: 3px;
        }
    }
}
